// Estilos de página

body {
	// border:1px solid red;
	// position: relative;
	// height: 100%;
}

html {
	font-size: 100%;
	position: relative;
	min-height: 100%;
}
footer {
	background-color: @gris-auxiliar;
	padding: 20px 0px;
	height: 100px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
	font-size: 12px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	p {
		margin: 0;
	}
}

.nav-tabs > li.active > a h5 {
    color: @rojo;
    font-weight: 400;
}

.nav-tabs > li > a h5{
    color: @gris-claro;
    font-weight: 300;
}

.modulo-login {
	margin: 60px auto 60px auto;
	padding-bottom: 40px;
	width: 100%;

	.contenedor-modulo {
		margin: auto;
		max-width: 760px;
		padding: 15px 0;
	}
	hr {
		padding-top: 25px;
		box-shadow: none;
		border-color: @gris-claro;
	}
	.modulo-encabezado{
		// border:1px solid blue;
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}
	.modulo-cuerpo {
		label {
			text-align: right;
			display: inline-block;
			margin-right: 0;
		}
		.checkbox label {
			text-align: left;
			span {
				font-size: 13px;
				display: inline;
			}
		}
		.control, select {
			height: 45px;
			margin-bottom: 0;
			font-size: 20px;
		}
		select {
			font-size: 17px;
		}
		.fila {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.modulo-pie {
		padding-bottom: 20px;
	}
}

.modulo-portal {
	background-color: #fff;
	min-height: 80vh;
	display: -webkit-flex;
    display: flex;

    h1 {
    	margin: auto;
    }
    img {
    	margin: auto;
    }

}

.dropdown-menu {
	top: 101%;
}

// Pasar esto a Pyxis:
.btn-bloque {
	width: 100%;
}

input, select {
	&:focus {
		box-shadow: 0 2px 0 @gris-auxiliar inset !important;
		background-color: rgba(255, 255, 255, 0.8) !important;
	}
}

.checkbox.bloque{
	display: block;
	width: 100%;
}

.grupo-inputs {
	display: inline-table;
	vertical-align: middle;
	width: 100%;
	.input {
		background-color: @gris-auxiliar;
		top: 0;
		border-right: none;
		right: 0;
		white-space: nowrap;
		vertical-align: middle;
		display: table-cell;
		// padding: 0 14.4px;
		text-align: center;
		// Prueba
		padding: 0;
		margin: 0;
		// Fin prueba
		.icn {
			display: inline;
			line-height: 1.20em;
		}
	}
	input, select {
		float: left;
		left: -2px;
		width: 100% !important;
		display: table-cell;
		// border-left: none;
	}
	select {
		margin-left: 0 !important;
	}
}

// Tabla

.tabla-personas {
	border-collapse: separate;
	width: 100%;
	margin-bottom: 80px;
	thead {
		tr{
			border-bottom: 1px solid blue;
		}
		th {
			text-align: left;
			.sans;
			color: @rojo;
			.grueso;
			padding: 4.8px;
		}
	}
	tbody {
		tr:hover {
			background-color: @gris-auxiliar;
			cursor: pointer;
		}
		td {
			font-size: 14px;
			a {
				margin-right: 5px;
			}
		}
	}
}


// Rutas
@ruta-pyxis: '..';
@ruta-tipografias: '../fonts';